<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<title>Acerca de</title>
</head>
<link rel="stylesheet" href="../assets/styles/acercade-nosotros.css">
<body>
  <div class="header">
    <a href="../index.html" class="logo"> Bienvenido a <br><br>
      <span class="bold_logo">RISK UC!</span>
    </a>
    <div class="header-right">
      <a class="active" href="Login.html">Login y jugar!</a>
      <a href="estadisticas.html">Estadisticas </a>
      <a href="Nosotros.html">Sobre Nosotros</a>
      <a href="como_jugar.html">Cómo jugar</a>
      <a href="acerca-de.html">Acerca de </a>
    </div>
  </div>

<div id="acerca-de">
	<br> <br><br> <br>
	<span>Acerca de <i class="fas fa-info-circle"></i></span>
	<div id="bajada"><div>
     <a class= "titulo"> Respecto al juego RISK </a><br><br>
        Risk (en inglés, riesgo) es un juego de mesa de carácter estratégico, creado por Albert Lamorisse en 1950 y comercializado desde 1958 por la empresa Parker Brothers (actualmente, parte de Hasbro).

        Este juego, basado en turnos, pertenece a la categoría de los juegos de guerra, al evocar las Guerras Napoleónicas, siendo su principal característica su simplicidad y abstracción al no pretender simular correctamente la estrategia militar en los territorios específicos, la geografía del mundo y la logística de las campañas extensas
        <br> Fuente: Wikipedia
        
        <br><br><br>
        <a class= "titulo"> Respecto a porqué hicimos a esta adaptación </a><br><br>
    En en contexto de el ramo Tecnología y Aplicaciones Web, como fanáticos del juego, decidimos realizar una versión
    propia para desafiar nuestras habilidades de programación. Esperamos que la disfrutes tanto como nosotros! Si
    aún quedaste con dudas del equipo por detrás, te invitamos a ver nuestra increíble historia en
     la sección "Sobre Nosotros"
</div>
<script src="../assets/scripts/login-jugar.js"></script>

</body>
</html>