<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadisticas

    </title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<link rel="stylesheet" href="../assets/styles/estadisticas.css">
<body>
    <div class="header">
        <a href="../index.html" class="logo"> Bienvenido a <br><br>
            <span class="bold_logo">RISK UC!</span>
        </a>
        <div class="header-right">
            <a class="active" href="Login.html">Login y jugar!</a>
            <a href="estadisticas.html">Estadisticas </a>
            <a href="Nosotros.html">Sobre Nosotros</a>
            <a href="como_jugar.html">Cómo jugar</a>
            <a href="acerca-de.html">Acerca de </a>
        </div>
    </div>

    <div class="login">
        <br><br><br><br>
        Estadisticas <i class="fas fa-chart-bar"></i>
    </div>

    <div class="subtitulo">
        Top 5 jugadores en cada estadistica
    </div>

    <br><br><br><br><br><br><br><br>

    <div id="estadisticas">
        <div id="partidas">
            <div class="stats">
                <div class="titulo">Partidas Jugadas</div>
                <div class="nombres"></div>
                <div class="cantidad"></div>
            </div>
        </div>

        <div id="victorias">
            <div class="stats">
                <div class="titulo">Victorias</div>
                <div class="nombres"></div>
                <div class="cantidad"></div>
            </div>
        </div>

        <div id="tropas_perdidas">
            <div class="stats">
                <div class="titulo">Tropas Perdidas</div>
                <div class="nombres"></div>
                <div class="cantidad"></div>
            </div>
        </div>

        <div id="ataques_totales">
            <div class="stats">
                <div class="titulo">Ataques Totales</div>
                <div class="nombres"></div>
                <div class="cantidad"></div>
            </div>
        </div>

        <div id="ataques_exitosos">
            <div class="stats">
                <div class="titulo">Ataques Exitosos</div>
                <div class="nombres"></div>
                <div class="cantidad"></div>
            </div>
        </div>

        <div id="ataques_fallidos">
            <div class="stats">
                <div class="titulo">Ataques Fallidos</div>
                <div class="nombres"></div>
                <div class="cantidad"></div>
            </div>
        </div>

    </div>

    

    
    <script src="../assets/scripts/stats.js"></script>
    <script src="jquery-3.5.1.min.js"></script>
    <script src="../assets/scripts/resize.js"></script>
    <script src="../assets/scripts/login-jugar.js"></script>
</body>
</html>
