<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
    <link rel="stylesheet" href="../assets/styles/acercade-nosotros.css">
    <body>
    <div class="header">
      <a href="../index.html" class="logo"> Bienvenido a <br><br>
        <span class="bold_logo">RISK UC!</span>
      </a>
      <div class="header-right">
        <a class="active" href="Login.html">Login y jugar!</a>
        <a href="estadisticas.html">Estadisticas </a>
        <a href="Nosotros.html">Sobre Nosotros</a>
        <a href="como_jugar.html">Cómo jugar</a>
        <a href="acerca-de.html">Acerca de </a>
      </div>
    </div>

    <div id="acerca-de">
        <br> <br><br> <br>
        <span>Quienes somos <i class="fas fa-users"></i></span>
        <div id="bajada">
          <a class= "titulo"> Nosotros </a><br><br>
          <div >
            <figure class="image-cropper" >
              <img src="../assets/imgs/gonzalo.png" class="rounded" z-index=""/>
              <figcaption>Gonzalo Vargas</figcaption>
            </figure>
            <figure class="image-cropper">
              <img  src="../assets/imgs/jose.png" class="rounded" />
              <figcaption>José Baboun</figcaption>
            </figure>
            <figure class="image-cropper">
              <img src="../assets/imgs/vicente.png" class="rounded" />
              <figcaption>Vicente Espinosa</figcaption>
            </figure>
        </div>
        <br>
        <br>
        Tras una expedición al Monte Everest y que todo nuestro equipo, a exepción nuestra,
        perdiera su vida, nos dimos cuenta que ya no podríamos volver a nuestras vidas
        comunes y corrientes. Necesitábamos hacer un impacto real en el mundo!
        Es así como creamos el grupo Webirra y decidimos afrontar dos de los mas grandes problemas universales:
        la lenta desaparición de los juegos de mesa y el nulo conocimiento de estrategia militar.
        Con esto en mente, confluimos perfectamente en la idea de crear Risk UC. 
        Desde ese momento de inspiración, el juego mueve nuestras vidas. Ahora esperamos que 
        empiece a mover la tuya. A jugar!
        <br>
        <br>
        
            <div>
        <div>

    </div>
    <script src="../assets/scripts/login-jugar.js"></script>
  </body>
  </html>