<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Rules</title>
</head>
<link rel="stylesheet" href="../assets/styles/landing_page.css">
<body>
<div class="header">
	<a href="../index.html" class="logo"> Bienvenido a <br><br>
		<span class="bold_logo">RISK UC!</span>
	</a>
	<div class="header-right">
		<a class="active" href="my_turn.html">Volver al juego</a>
    <a href="../index.html">Logout </a>

	</div>
	</div>

<div id="Landing_page">
	<br> <br><br> <br>
	<span>¿Cómo jugar?</span>
	<div id="instrucciones">
		<span>
			<b class="seccion">Características del juego:</b> <br> <br>
			El proceso de conquista y defensa de territorios se llevará a cabo en el Campus San Joaquín.
			Estos territorios pertenecerán a distintas zonas,
			 las cuales se detallan a continuación
			 (se indica la cantidad de tropas que entrega cada territorio, lo cual se explica más adelante):
			 <br> <br>
			<ol class="lista">
			<li> <b>Sur-este(4):</b> Ingeniería [5], Construcción Civil [3], Enfermería [2], Luksic [1]. </li>
			<li> <b>Sur-oeste (3):</b> Educación[3], Humanidades[2], Hall [5].</li>
			<li><b>Este (4):</b> College [3], Ciencias de la Salud [5], Matemáticas [1], Física y Química [2]. </li>
			<li><b>Oeste (5):</b> Comercial [3], Sociales [2], Agronomía [5], Aula Magna [1]. </li>
			<li><b>Norte (5): </b>Cancha de fútbol [3], Gimnasio [5], Canchas de Basketball [2], Canchas de Tenis [1].  </li>
			<li><b>Centro estratégico (1):</b> Capilla [4] <br>
			</ol>
			El mapa de referencia, donde se visualiza la ubicación de cada territorio es el siguiente:
			<br>
			<img src="https://www.talentopsicologiauc.cl/intranet3/images/mapa.jpg"
			alt="Mapa del juego" class ="imagen">
			<br>
			Los territorios serán conquistados y defendidos usando tropas,
			las cuales conformarán ejércitos. Existirán 3 tipos de tropas,
			 las cuales tendrán distintas equivalencias:
			 <ol class="lista">
				 <li><b>Novatos</b> (valor de tropa : 1)</li>
				 <li><b>Ayudantes</b> (valor de tropa : 5)</li>
				 <li><b>Profesores</b> (valor de tropa : 10)</li>
			 </ol>
			 Para ganar el juego, se deberá completar la misión secreta designada
			 a cada jugador al inicio del juego. Las misiones son las siguientes:
			 <ol class="lista">
				<li><b>Conquista Sur-este y Oeste.</b></li>
				<li><b>Conquista Sur-oeste y Norte.</b></li>
				<li><b>Conquista 12 territorios a su preferencia
					y el Centro estratégico (solo para 5 jugadores)</b>.</li>
				<li><b>Conquista el Este y el Sur-este.</b></li>
				<li><b>Conquista el Oeste y el Norte.</b></li>
			</ol>

			<b><u class="seccion"> Reglas del juego</u></b>
			<br>  <br>
			<a class="pregunta"> ¿Cómo empezar a jugar?:</a><br>
			Para empezar a jugar deberá registrarse en la página o iniciar sesión, luego crear una nueva partida publica y esperar a que se le unan más personas, o bien se puede unir a una partida que está empezando.
			Solo puede haber una partida activa a la vez, por lo que si ya hay una partida comenzada, deberá esperar a que esta termine para jugar.
			<br> <br>
			<a class="pregunta"> ¿Cómo se reparten los territorios?:</a><br>
			Cuando comienza la partida, se repartirán de manera automática todos los territorios, la repartición es aleatoria, pero será equilibrada.
			Luego de esto, se repartirán 60 Novatos entre todos los jugadores, para que los repartan entre todos sus territorios (Se debe asignar al menos uno por cada territorio).
			<br><br>
			<a class="pregunta">Inicio de cada turno:</a><br>
			Cada turno consta de tres pasos:
			<ol class="lista">
				<li> Primero está la etapa de refuerzos, en esta usted recibirá sus tropas correspondientes por territorios y zonas conquistadas (más información en la sección ”Tropas nuevas por territorios”), también tendrá la opción de canjear sus tarjetas.
					 Deberá colocar todas sus tropas nuevas en algún territorio suyo.</li>
				<li>Luego está la etapa de ataque, en esta usted deberá
					atacar a sus vecinos (más explicación en la sección ”Al atacar”)</li>
				<li>Finalmente, está la etapa de fortalecimiento, en la cual usted podrá mover tropas que no han sido enviadas al ataque en esta ronda hacia un territorio suyo para fortalecerlo, solo puede mover tropas desde un territorio único hacia otro territorio único por ronda.
					 También debe recordar que siempre debe quedar al menos una tropa por territorio. </li>
			</ol>
			<br><br>
			<a class="pregunta">Tropas nuevas por territorios:
			</a><br>
			Cada territorio tiene un número en el tablero, lo que representa su poder, este poder es lo que otorga tropas nuevas al inicio de cada turno. Para calcular las tropas nuevas por turno se debe sumar la cantidad total de puntos de todos los territorios que le pertenezcan, y se divide este número por 3 (en caso de no ser división exacta se truncará el resultado), este número obtenido será la cantidad de tropas que recibirá al inicio de una ronda.
			También están los bonus por conquistar toda una zona, si un jugador conquista en su totalidad una zona, este recibirá una cantidad extra de tropas al inicio de la ronda. El mínimo de tropas que se obtendrá al inicio de una ronda es 3, independiente de lo anterior.
			<br><br>
			<a class="pregunta">Al atacar:
			</a><br>
			Al atacar usted solo puede atacar desde un territorio suyo hacia un territorio enemigo adyacente. Al atacar usted envía una cantidad definida de tropas hacia un enemigo con la intención de conquistar ese territorio, usted solo puede enviar un ataque por cada territorio enemigo. Las tropas que envía pelearán hasta el final, es decir, un ataque terminará o con todas sus tropas muertas, o con la conquista del territorio.
			Si más de un jugador envía sus tropas a conquistar un mismo territorio, estos ejércitos atacantes se deberán enfrentar primero, hasta que solo queden tropas de un jugador, y luego los sobrevivientes atacarán el territorio.
			Si un jugador logra conquistar un territorio, este quedará defendido por las tropas sobrevivientes de la pelea.

			<br><br>
			<a class="pregunta">¿Cómo funcionan las peleas?:
			</a><br>
			Tanto las peleas entre ejércitos atacantes como las de atacantes contra defensores funcionan de la misma manera, se lanzará un dado virtual por cada tropa en un ejército, y se escogerá en número mayor, luego este número se comparará con los ejércitos enemigos, quienes harán el mismo ejercicio, el que tenga el dado de menor valor será quien pierda una tropa. Este proceso se repetirá hasta que solo quede un ejercito vivo. En caso de que haya empate en los dados se repetirá el proceso.
			<br><br>
			<a class="pregunta">¿Cómo sabré los resultados de mis jugadas?:
			</a><br>
			Al inicio de la siguiente jugada se mostrará un pequeño resumen de cómo las acciones anteriores afectaron la partida.
			<br><br>
			<a class="pregunta">Tarjetas:
			</a><br>
			Si conquistas al menos un territorio se te otorgará una sola tarjeta el turno siguiente, esta tarjeta tendrá un valor (estrellas), y el nombre de un territorio.
			Al canjear las tarjetas se sumarán las estrellas de todas las tarjetas que entregues, y se te otorgará una cantidad de tropas proporcional a las estrellas, además por cada territorio que aparezca en una de las tarjetas que canjeas y sea de tu propiedad, se te otorgará un bonus de 2 unidades extra.
			<br><br>
			<a class="pregunta">Sobre las tropas:
			</a><br>
			Existen 3 tipos de tropas distintas: Novatos, Ayudantes y Profesores. Los Novatos tienen un poder de ataque de 1, los Ayudantes de 5, y los Profesores tienen un ataque de 10. Por lo tanto 5 Novatos son equivalentes a un Ayudante, se intercambiaran tipos de tropas de manera automática para mantener la estética del juego (no caben 20 Novatos en un territorio pero sí caben 4 Ayudantes, o 2 Profesores)
			<br><br>
			<a class="pregunta">Como ganar el juego (misiones secretas):
			</a><br>
			Al inicio de cada partida se le entregará una misión secreta distinta a cada jugador. Para ganar la partida debe completar lo que indique esta partida. En caso de que más de una persona complete su misión al mismo tiempo, deberán pelear por la victoria (se lanzará un dado por cada jugador que completó su misión, y el que consiga el mayor número será el ganador).
			<br><br>

			</span>

	</div>

</div>


<script src="../assets/scripts/login-jugar.js"></script>


</body>
</html>

