.mediaViewInfo {
    --web-view-name: Login;
    --web-view-id: Login;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

.header {
    overflow: hidden;
    position: fixed;
    width: 100%;
    background-color: #006AA3;
    padding: 20px 10px;
    border-bottom-style: solid;
    text-align: right;
    z-index: 10;
}

.header-right {
    float: right;
}

body { 
    background-color: rgba(223,83,83,1);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
}

.bold_logo {
    font-weight:bolder;
    font-size: 50px;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    margin: 5px;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: #DF5353;
    color: white;
    
}

.stats {
    overflow: hidden;
    font-size: 50px;
    text-align: center;
    --web-view-name: Acerca-de;
    --web-view-id: Acerca-de;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

input[type=text], input[type=password] {
    width: 60%;
    height: 20%;
    padding: 0% 5%;
    margin: 8px 35%;
    display: list-item;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: relative;
    top: -55px;
    left: -20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 1% 0%;
    margin: 0% 5%;
    border: none;
    cursor: pointer;  
    text-align: center;
    border-radius: 4px;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 0px 10%;
    margin: 2% 0%;
}

#botonjugar {
    background-color: #24aa28;
    height: 22%;
    width: 25%;
    position: relative;
    font-size: 22px;
    line-height: 0px;
}

#botonregistro {
    background-color: #2ab9cc;
    padding: 2% 5.3%;
    position: relative;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 22px;
    border-radius: 4px;
    line-height: 0px;
}

.botones{
    display: inline;
    position: relative;
    left: 32%;
    top: -48px;
}

#botonregistro:hover {
    opacity: 0.8;
}

span1{
    margin: 10% 30%;
}

.etiquetas{
    margin: 0% 0%;
    display: inline;
}

.stats{
    background-color: #B8C6CC;
    font-size: 1.3vw;
    border-radius: 5px;
    border: rgba(0,48,73,1);
    border-style: solid;
    margin: 0% 10%;
    width: 30%;
    height: 50%;
    list-style-type: none;
    overflow: hidden;
}

#span2{
    margin: 10% 0%;
}

#my_form{
    border-radius: 25px;
}

.titulo {
    font-size: 1.5vw;
}

#estadisticas {
    position: absolute;
    left: 0%;
    height: 50%;
    width: 70%;
}

#partidas {
    position: relative;
    top: 1%;
    left: 10%;
}

#victorias {
    position: relative;
    top: -48%;
    left: 70%;
}

#tropas_perdidas {
    position: relative;
    top: -19%;
    left: 10%;
}

#ataques_totales {
    position: relative;
    top: -70%;
    left: 70%;
}

#ataques_exitosos {
    position: relative;
    top: -30%;
    left: 10%;
}

#ataques_fallidos {
    position: relative;
    top: -81%;
    left: 70%;
}

.nombres {
    position: relative;
    left: -20%;
    top: 5%;
}

.cantidad {
    position: relative;
    left: 20%;
    top: -70%;
}

li {
    margin-top: 3%;
}

.login {
    overflow: hidden;
    font-size: 3vw;
    text-align: center;
    --web-view-name: Acerca-de;
    --web-view-id: Acerca-de;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

.subtitulo {
    overflow: hidden;
    font-size: 0.7vw;
    text-align: center;
}